My First Phyton program

In [1]:
print("Hello World")

Hello World

Create a two list with 5 even number and 5 odd number and add 2 lists first and second multiply two lists

In [18]:
L1 = [2,4,6,8,10]
L2 = [1,3,5,7,9]
L3 = []
L4 = []
for i in range(0, len(L1)): 
    L3.append(L1[i] + L2[i]) 

print ("Resultant list is : " + str(L3))
for i in range(0, len(L1)): 
    L4.append(L1[i] * L2[i]) 
print ("Resultant list is : " + str(L4))

Resultant list is : [3, 7, 11, 15, 19]
Resultant list is : [2, 12, 30, 56, 90]

get the angles from 0,360 with 30degrees difference using range function
get indexes for 90 and 270 using lenght

In [55]:
Angles = [0,30,60,90,120,150,180,210,240,270,310,340,360]
i1 = Angles[3]
i2 = Angles[9]
Lenght = len(Angles)
print(Lenght)
i1_Rev = Angles[Lenght-10]
print (i1_Rev)
i2_Rev = Angles[Lenght-4]
print(i2_Rev)
Angles2 = []
Angles2.append(Angles.reverse())
print(Angles)

13
90
270
[360, 340, 310, 270, 240, 210, 180, 150, 120, 90, 60, 30, 0]

Create two lists with same set,remove one element from second set,use copy function in one method and L1=L2

In [73]:
L1 = [10,9,8,7,6]
L2 = L1
L2.remove(8)
print(L1)
print(L2)

[10, 9, 7, 6]
[10, 9, 7, 6]

In [71]:
L1 =[10,9,8,7,6]
L2=L1.copy()
L2.remove(8)
print(L1)
print(L2)

[10, 9, 8, 7, 6]
[10, 9, 7, 6]

In [0]:
import numpy as np
import tensorflow as tf
import pytorch

create a tuple with 5 elements,add one element and remove 3rd element and print

In [93]:
tuple1 = 10,9,8,7,6
print (tuple1)
tuple1 = tuple1+(5,)
print(tuple1)
# converting tuple to list 
listx = list(tuple1)
print(listx)
# remove 3rd element
listx.remove(8)
print(listx)
# convert list to tuple again
Tuple1=tuple(listx)
print (Tuple1)

(10, 9, 8, 7, 6)
(10, 9, 8, 7, 6, 5)
[10, 9, 8, 7, 6, 5]
[10, 9, 7, 6, 5]
(10, 9, 7, 6, 5)

Create a Dictionary,extract information from one of the keys,add keys to dictionary,remove keys from dictionary,Update values for any one of the keys

In [117]:
States = {'AP':[21213123123,'Amaravathi',True],'Telangana':[521312312,'Hyd',True],'Karnataka':[5123123123,'Banglore',True],'Bihar':[513123123123,'Patna',False],'ArunachalPradesh':[5131231233,'itanagar',False]}
print(States)
print(States.get('Bihar'))
States['TN']="5123123123213,'Chennai',False"
print(States)
del States['Telangana']
print(States)
S2={'AP':[88888888888,'Amaravathi,True']}
States.update(S2)
print(States)

{'AP': [21213123123, 'Amaravathi', True], 'Telangana': [521312312, 'Hyd', True], 'Karnataka': [5123123123, 'Banglore', True], 'Bihar': [513123123123, 'Patna', False], 'ArunachalPradesh': [5131231233, 'itanagar', False]}
[513123123123, 'Patna', False]
{'AP': [21213123123, 'Amaravathi', True], 'Telangana': [521312312, 'Hyd', True], 'Karnataka': [5123123123, 'Banglore', True], 'Bihar': [513123123123, 'Patna', False], 'ArunachalPradesh': [5131231233, 'itanagar', False], 'TN': "5123123123213,'Chennai',False"}
{'AP': [21213123123, 'Amaravathi', True], 'Karnataka': [5123123123, 'Banglore', True], 'Bihar': [513123123123, 'Patna', False], 'ArunachalPradesh': [5131231233, 'itanagar', False], 'TN': "5123123123213,'Chennai',False"}
{'AP': [88888888888, 'Amaravathi,True'], 'Karnataka': [5123123123, 'Banglore', True], 'Bihar': [513123123123, 'Patna', False], 'ArunachalPradesh': [5131231233, 'itanagar', False], 'TN': "5123123123213,'Chennai',False"}

Create a function and make use in Lambda function,convert angle to radians and make use it in list

In [136]:
import math
def deg_rad(angle):
  my_area = angle*0.01744
  return my_area;

print(deg_rad(30))

0.5232

In [0]:
deg_rad_inline = lambda deg_rad:deg_rad()
print(deg_rad_inline(45))